html {
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

header {
    background: #cff9f8;
    border: 5px solid #36D6FA;
    height: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem;
}

section {
    background: #cff9f8;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    margin: 5rem;
}

body {
    margin: 0;
    background: linear-gradient(#222,#574921);
}

#AbtMe {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    color: #cff9f8;
    align-items: center;
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    padding: 5rem;
    min-height: 3rem;
    margin: 5rem;
}

#AbtMe img{
    background: #222;
    border: 2px solid #f4bd1c;
    border-radius: 3rem;
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-left: 10rem;
}

#Skills {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    color: #cff9f8;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    min-height: 3rem;
    margin: 5rem;
}

#Projects {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    color: #cff9f8;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    margin: 5rem;
}

.Skill {
    background-color: transparent;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: .1rem;
}

/* REACT TABS */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
/* END REACT TABS */