html {
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

header {
    background: #cff9f8;
    border: 5px solid #36D6FA;
    box-shadow: 0px 5px 1.5rem 0px #36D6FA, inset 0px 0px 1rem 0px #36D6FA;
    height: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3rem;
}

section {
    background: #cff9f8;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    margin: 5rem;
}

.AbtMe {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    box-shadow: 0px 0px 2.5rem 0px #36D6FA, inset 0px 0px 2.5rem 0px #36D6FA;
    color: #cff9f8;
    align-items: center;
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    padding-left: 5rem;
    padding-right: 2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin: 5rem;
}

.AbtMe img{
    background: #222;
    border: 2px solid #f4bd1c;
    border-radius: 3rem;
    box-shadow: 0px 0px 1.5rem 0px #f4bd1c;
}

.Skills {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    box-shadow: 0px 0px 2.5rem 0px #36D6FA, inset 0px 0px 2.5rem 0px #36D6FA;
    color: #cff9f8;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 5rem;
}

.Projects {
    background: #222;
    border: 2px solid #36D6FA;
    border-radius: 3rem;
    box-shadow: 0px 0px 2.5rem 0px #36D6FA, inset 0px 0px 2.5rem 0px #36D6FA;
    color: #cff9f8;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    margin: 5rem;
}

body {
    margin: 0;
    background: linear-gradient(#222,#574921);
}